@model BillPay
@{
    ViewData["Title"] = "Bill Pay";
}

<div class="d-flex flex-column border rounded w-75">
        <div class="p-xl-5">
            <h1>Bill Pay</h1>
            <p>
                <small class="text-muted">Edit bill ID @Model.BillPayID for Account Number @Model.AccountNumber</small>
            </p>
        </div>

    <form asp-action="BillPay">
        <div class="row px-xl-5">
            <div class="col">
                <input type="hidden" asp-for="BillPayID"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="PayeeID" class="form-label"></label>
                    @await Component.InvokeAsync("Payees")
                    <span asp-validation-for="PayeeID" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Amount" class="form-label"></label>
                    <input type="text" asp-for="Amount" class="form-control">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label asp-for="ScheduleTimeUtc" class="form-label"></label>
                    <input type="datetime-local" asp-for="ScheduleTimeUtc" class="form-control">
                    <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Period" class="form-label"></label>
                    <div class="form-control-plaintext">
                        <div class="form-check-inline">

                            @Html.RadioButtonFor(x => x.Period, BillPayPeriod.OneOff)
                            @Html.Label(nameof(BillPayPeriod.OneOff))
                        </div>
                        <div class="form-check-inline">

                            @Html.RadioButtonFor(x => x.Period, BillPayPeriod.Monthly)
                            @Html.Label(nameof(BillPayPeriod.Monthly))
                        </div>
                    </div>
                    <span asp-validation-for="Period" class="text-danger"></span>

                </div>
            </div>

            <div class="mb-3 d-flex align-content-end justify-content-end">
                <button type="submit" asp-route-accountNumber="@Model.AccountNumber" class="btn btn-outline-primary">Update</button>
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-end align-content-end p-xl-5">
        <a class="text-decoration-none text-muted" asp-action="BillPays" asp-route-accountNumber="@Model.AccountNumber">Back to Bill Pays</a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
