@model MCBA_Model.Models.Customer
@{
    ViewData["Title"] = "Accounts";
}

<div>
    <h2 class="display-4">Welcome, @Model.Name</h2>

    <h3>Your Accounts</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
            <th></th>
        </tr>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>@Html.DisplayFor(x => account.AccountType)</td>
                <td>$@Html.DisplayFor(x => account.Balance)</td>
                <td>
                    <a class="btn btn-sm"
                       asp-action="Deposit" asp-route-accountNumber="@account.AccountNumber">
                        Deposit
                    </a>
                    <a class="btn btn-sm"
                       asp-action="Withdraw" asp-route-accountNumber="@account.AccountNumber">
                        Withdraw
                    </a>
                    <a class="btn btn-sm"
                       asp-action="Transfer" asp-route-accountNumber="@account.AccountNumber">
                        Transfer
                    </a>
                    <a class="btn btn-sm"
                       asp-action="BillPays" asp-route-accountNumber="@account.AccountNumber">
                        BillPay
                    </a>
                </td>
            </tr>
        }
    </table>
</div>